* {
  margin: 0px;
  padding: 0px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #2890cc;
  color: white;
  text-align: center;
}

.teacher-student {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mario1 {
  padding: 7px;
}

.mario2 {
  padding:5px;
}