.quiz-progress {
    font-size: 0.8rem;
    text-align: right;
    padding: 7px 30px;
}

.quiz-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    margin: 15px;

}

.quiz-country {
    font-size: 1.5rem;
    color: #2890CC;
}


.quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-title {
    font-size: 1rem;
}

.answer-option {
    margin: 5px;
    width: 150px;
    padding: 3px;
    min-height: 75px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

}