.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2890cc;
  padding: 0 30px;
  margin: 0%;
}

.jeo-banner {
  padding-left: 12%;
  margin: 20px;
  height: 45px;
}

.btn {
  background-color: #ffcf40;
  width: 120px;
  color: #ffffff;
  padding: 10%;
  border-radius: 15px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 900;
}

