.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: beige;
}


.jeo-logo {
    height: 50px;
    margin-top: 20px;
}

.jeo-banner {
    height: 80px;
    margin-top: 5px;
}