.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #2890CC;
    padding: 0 30px;
}

.jeo-banner {
    margin: 20px;
    height: 45px;
}

.auth-button {

}

.btn {
    background-color: #FFCF40;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    font-weight: 900;
}