$primary-1: #2890CC;
$primary-2: #FFCF40;
$primary-3: #6AC782;
$secondary: #EC64BE;
$secondary-2: #000000ae;

.homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
}

.left-align {
    display: flex;
    flex-direction: column;
padding-top: 50px;
padding-right: 0;
    margin: 0;


}

.home-title {
    width: 400px;
    font-size: 1.8rem;
    margin: 0;
}

.home-title-1 {
color: $secondary-2;
width: 400px;
padding: 0;
margin: 0;
}

.home-title-2 {
    color: $primary-1;
    width: 400px;
    margin: 0;
    }

.home-welcome {
margin: 15px 0 0 0;
width: 400px;
}

.buttons-container {
    margin-top: 40px;
    display: flex;
 flex-direction: row;
}

.button-container {
    padding: 15px;
}

.align-right {
    display: flex;
    flex-direction: column;
    align-items: left;


}

.gif-container {
 margin-right: 80px;
}

.log-profile-container{
    display:flex;
    align-items: row;
    
}