$primary-1: #2890cc;
$primary-2: #ffcf40;
$primary-3: #6ac782;
$secondary: #ec64be;
$secondary-2: #000000ae;

.left-align {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 0;
  margin: 0;
}

.home-title {
  font-size: 1.8rem;
  margin: 0;
  padding-left: 5%;
}

.home-title-1 {
  color: $secondary-2;
  padding: 0;
  margin: 0;
  padding-left: 10%;
}

.home-title-2 {
  color: $primary-1;
  margin: 0;
  padding-left: 10%;
}

.home-welcome {
  margin: 2% 0 0 0;
  width: 100%;
}

img.gif {
  padding-left: 15%;
}

.log-profile-container {
  display: flex;
  align-items: row;
}

div.buttons-container {
  margin-top: 0px;
  margin-bottom: 15%;
  display: flex;
  justify-content: space-around;
}

section.homepage {
  display: flex;
  justify-content: space-around;
}
